
.icon-search:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-google:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-key:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-at:before { content: '\e80a'; } /* '' */
.icon-food:before { content: '\e80b'; } /* '' */
.icon-music:before { content: '\e80c'; } /* '' */
.icon-gift:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-flight:before { content: '\e80f'; } /* '' */
.icon-fire-station:before { content: '\e810'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-adult:before { content: '\e812'; } /* '' */
.icon-nature:before { content: '\e813'; } /* '' */
.icon-nature-2:before { content: '\e814'; } /* '' */
.icon-nature-3:before { content: '\e815'; } /* '' */
.icon-people:before { content: '\e816'; } /* '' */
.icon-transport:before { content: '\e817'; } /* '' */
.icon-women:before { content: '\e818'; } /* '' */
.icon-beauty:before { content: '\e819'; } /* '' */
.icon-computer:before { content: '\e81a'; } /* '' */
.icon-luxury:before { content: '\e81b'; } /* '' */