<section class="section-box popular-features">
	<h3 class="comp-heading ng-scope">Popular <span class="bold"> Features</span><hr class="geern-bar"></h3>

	<ul>
		<li><img src="images/package1.jpg"> <h4 class="popular-features-caption">Wedding</h4></li>
		<li><img src="images/package1.jpg"><h4 class="popular-features-caption">Birthday</h4></li>
		<li><img src="images/package1.jpg"><h4 class="popular-features-caption">Anniversary</h4></li>
		<li><img src="images/package1.jpg"><h4 class="popular-features-caption">corporate</h4></li>
		<li><img src="images/package1.jpg"><h4 class="popular-features-caption">Reunion</h4></li>
		<li><img src="images/package1.jpg"><h4 class="popular-features-caption">Travel</h4></li>
	</ul>	

	<a href="#" class="sec-botton">View All</a>

</section>	



 <hyper-yield to="packages-home"></hyper-yield>


<section class="section-box vendors-cntr ">
			<h3 class="comp-heading ng-scope">Popular <span class="bold"> Vendors</span><hr class="geern-bar"></h3>
			<div class="row vendors-inner">
				<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
					<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
					<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
					<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
					<div class="col-xs-6 col-md-2 col-sm-4 vendor">
					<div class="img-text-cntr">
						<img src="images/vendor1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="sec-botton">View All</a>
		</section> 



<section class="section-box topselling-cntr">
	<h3 class="comp-heading ng-scope">Top <span class="bold"> Selling Products</span><hr class="geern-bar"></h3>

		<div class="row topselling-cntr-inner">
				<div class="col-xs-12 col-md-3 col-sm-6 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
							<p><span class="old-price">$231.00</span><span class="new-price">$169.00</span></p>
						</div>
					</div>
				</div>
					<div class="col-xs-12 col-md-3 col-sm-6 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
							<p><span class="old-price">$231.00</span><span class="new-price">$169.00</span></p>
						</div>
					</div>
				</div>
					<div class="col-xs-12 col-md-3 col-sm-6 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
							<p><span class="old-price">$231.00</span><span class="new-price">$169.00</span></p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 col-sm-6 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
							<p><span class="old-price">$231.00</span><span class="new-price">$169.00</span></p>
						</div>
					</div>
				</div>
				<!-- 	<div class="col-xs-6 col-md-2 col-sm-4 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div>
					<div class="col-xs-6 col-md-2 col-sm-4 topsellingprod">
					<div class="img-text-cntr">
						<img src="images/topselling1.jpg"/>
						<div class="description">
							<h4 class="comp-inernal-heading">Decoration</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>	
						</div>
					</div>
				</div> -->
			</div>

	<a href="#" class="sec-botton">View All</a>

</section>	





<section class="section-box howitworks-cntr">
	<h3 class="comp-heading ng-scope">How <span class="bold"> it works</span><hr class="geern-bar"></h3>

		<div class="row howitworks-cntr-inner">
				<div class="col-xs-12 col-md-4 col-sm-4 howitworks">
					<div class="img-text-cntr">
						<div class="img-cntr"><img src="images/how-it-works-1.png"/></div>
						<div class="dashed-border"></div>
						<div class="description">
							<h4 class="comp-inernal-heading">Discover & Shortlist</h4>
							<p>Call your  Expert for handpicked recommendations</p>
							<p>OR</p>		
							<p>Browse Venues & Vendors to create your shortlist</p>
						</div>
					</div>
				</div>
					<div class="col-xs-12 col-md-4 col-sm-4 howitworks">
					<div class="img-text-cntr">
						<div class="img-cntr"><img src="images/how-it-works-2.png"/></div>
						<div class="dashed-border"></div>
						<div class="description">
							<h4 class="comp-inernal-heading">Guided Visits</h4>
							<p>Schedule guided tours of your shortlisted venues </p>	
							<p>OR</p>
							<p>Meet your shortlisted vendors</p>
						</div>
					</div>
				</div>
					<div class="col-xs-12 col-md-4 col-sm-4 howitworks">
					<div class="img-text-cntr">
						<div class="img-cntr"><img src="images/how-it-works-3.png"/></div>
						<div class="description">
							<h4 class="comp-inernal-heading">Book</h4>
							<p>Like a venue or vendor? Get  final quotes</p>	
							<p>Book at our Guaranteed Best Prices upto 30% off </p>
						</div>
					</div>
				</div>
				
			</div>

	

</section>	


<section class="section-box testimonials-cntr">
	<h3 class="comp-heading ng-scope">Test<span class="bold">imonials</span><hr class="geern-bar"></h3>
	<div class="row testimonials-cntr-inner">
		<div class="testimonialSlider slider">
			<div>
				<img src="images/testimonial1.jpg">
			</div>
			<div>
				<img src="images/testimonial1.jpg">
			</div>
			<div>
				<img src="images/testimonial1.jpg">
			</div>
			<div>
				<img src="images/testimonial1.jpg">
			</div>
			<div>
				<img src="images/testimonial1.jpg">
			</div>
			<div>
				<img src="images/testimonial1.jpg">
			</div>
		</div>

	</div>	
</section>
