
<section class="packages-cntr">
			<div class="package-heading-cntr">
				<h2>Our Packages</h2>
				<div class="package-heading-divider"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		
			<div class="row packages-inner">
				<div class="col-xs-12 col-md-3 col-sm-6 package">
					<div class="img-text-cntr" data-toggle="modal" data-target="#verticalsPopup">
						<img src="images/weddingphotographer.jpg"/>
						<span>Wedding</span>
					</div>
				</div>
					<div class="col-xs-12 col-md-3 col-sm-6 package">
					<div class="img-text-cntr" data-toggle="modal" data-target="#verticalsPopup">
						<img src="images/weddingphotographer.jpg"/>
						<span>Anniversary</span>
					</div>
				</div>
					<div class="col-xs-12 col-md-3 col-sm-6 package">
					<div class="img-text-cntr" data-toggle="modal" data-target="#verticalsPopup">
						<img src="images/weddingphotographer.jpg"/>
						<span>Birthday</span>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 col-sm-6 package">
					<div class="img-text-cntr" data-toggle="modal" data-target="#verticalsPopup">
						<img src="images/weddingphotographer.jpg"/>
						<span>Kitty Party</span>
					</div>
				</div>
			</div>
		</section> 
		
</hyper-content>		