<div id="productsServicesCntr">
	<section class="product-left-section box">
	<div class="left-sec-content-cntr">
	
	
	
		<section class="hidden" id="Catering">
		

      

      <div class="filters-and-sort-cntr">

        <div class="showFilterBtnCntr">
          <a href=""  class="showFilterBtn" ng-click="showFilters = ! showFilters">Filters </a>
        </div>

        <div class="paginationCntr">
          Sort by: <a href="">Price: low to high</a> <a href="">Price: high to low</a> 
          <span class="pagination">Showing 1–16 of 33 results</span>
        </div>


      </div>
        
      <div class="filters-cntr" ng-class="{ 'hidden': ! showFilters }">

          <ul class="filters">
              <li class="filter">
                <div class="filter-cntr">
                  <h3>Price</h3>
                  <ul>
                      <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                  </ul>
                </div>
              </li>
               <li class="filter">
                <div class="filter-cntr">
                   <h3>Location</h3>
                  <ul>
                      <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                  </ul>
                </div>
              </li>
               <li class="filter">
                <div class="filter-cntr">
                   <h3>Veg/Non-Veg</h3>
                  <ul>
                      <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                  </ul>
                </div>
              </li>
               <li class="filter">
                <div class="filter-cntr">
                   <h3>Add-ons</h3>
                  <ul>
                      <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                       <li>
                        <input type="checkbox" name="abc" id="abc"/>
                        <label for="abc">Filter1</lable>
                      </li>
                  </ul>
                </div>
              </li>
          </ul>
      </div>


 <div class="packages-cntr services-cntr">
      <div class="package-heading-cntr">
        <h2>Available Options</h2>
        <div class="package-heading-divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    
      <div class="row packages-inner">
        <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 1</span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 2</span>
          </div>
        </div>
         <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 3</span>
          </div>
        </div>
       <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 4</span>
          </div>
        </div>
       <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 5</span>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-6 package">
          <div class="img-text-cntr" data-toggle="modal" data-target="#quickViewPopup">
            <img src="images/catering.jpg"/>
            <span>Product 6</span>
          </div>
        </div>
      </div>
    </div> 

		</section>

		<section class="hidden" id="Hospitality">
			<h3>Hospitality</h3>
		</section>
		
		<section class="hidden" id="Music">
			<h3>Music</h3>
		</section>
		
		<section class="hidden" id="Grooming">
			<h3>Grooming</h3>
		</section>
		
		<section class="hidden" id="Photography">
			<h3>Photography</h3>
		</section>
		
		<section class="hidden" id="Travel">
			<h3>Travel</h3>
		</section>
		
		<section class="hidden" id="Customs">
			<h3>Customs</h3>
		</section>
		
		<section class="hidden" id="Fashion">
			<h3>Fashion</h3>
		</section>
		
		<section class="hidden" id="Gifts">
			<h3>Gifts</h3>
		</section>
		
		<section class="hidden" id="Jewellery">
			<h3>Jewellery</h3>
		</section>
		
</div>
</section>


<section class="product-right-section box">
		<div class="right-sec-content-cntr">
			<div class="categories-cntr productrightsection" ng-repeat="categoy in categories">
				<h3  class="accordion" data="{{categoy.title}}">{{categoy.title}}</h3>
				<div class="panel">{{categoy.content}}</div>
			</div>
		</div>
	</section>
</div>






<!-- modal-services-options  
<div class="services-options-popup vartical-options" id="servicesOptionsPopup" tabindex="-1" aria-labelledby="myModalLabel">
  <div class="modal-services-options" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<h3>Please choose the products and services </h3>
      </div>
		   <div class="panel-group" id="accordion">
  <div class="panel panel-default catering">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Catering">
        Catering</a>
      </h4>
    </div>
    <div id="Catering" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default hospitality">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Hospitality">
        Hospitality</a>
      </h4>
    </div>
    <div id="Hospitality" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
   <div class="panel panel-default music">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Music">
        Music</a>
      </h4>
    </div>
    <div id="Music" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  
   <div class="panel panel-default grooming">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Grooming">
        Grooming</a>
      </h4>
    </div>
    <div id="Grooming" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
 
   <div class="panel panel-default photography">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Photography">
        Photography</a>
      </h4>
    </div>
    <div id="Photography" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
   <div class="panel panel-default travel">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Travel">
        Travel</a>
      </h4>
    </div>
    <div id="Travel" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
 
   <div class="panel panel-default customs">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Customs">
        Customs</a>
      </h4>
    </div>
    <div id="Customs" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  
   <div class="panel panel-default fashion">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Fashion">
        Fashion</a>
      </h4>
    </div>
    <div id="Fashion" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
 
  
   <div class="panel panel-default gifts">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Gifts">
        Gifts</a>
      </h4>
    </div>
    <div id="Gifts" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  
  
 
  
   <div class="panel panel-default jewellery">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Jewellery">
        Jewellery</a>
      </h4>
    </div>
    <div id="Jewellery" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>

  
</div> 

	<div class="form-footer">
		<a href="" class="btn btn-block btn-continue "  > Continue</a>
		</div>
	</div>
	</div>
</div>-->






<!-- Quick view -->
<div class="modal fade verticals-popup quickViewPopup" id="quickViewPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-verticals-popup" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

      <div class="modal-body row">
          <div class="product-img-cntr col-md-6 col-sm-6 col-xs-12"><img src="images/catering.jpg" alt=""/></div>
          <div class="product-desc-cntr col-md-6 col-sm-6 col-xs-12">
              <h3>Description</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue feugiat nisl, id euismod tellus suscipit eu. Fusce aliquet ligula a vestibulum varius. In nec tempor purus, in accumsan quam. Sed nec nisl risus. Donec laoreet egestas lorem, egestas finibus velit ultrices vehicula. Aenean congue tristique risus. Quisque aliquam sapien massa, non molestie diam consectetur cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut lobortis tortor at risus fermentum finibus. Mauris nec dictum dui, nec dictum nibh. Curabitur pulvinar justo in sollicitudin vehicula. Vivamus fringilla rutrum odio, vitae rhoncus felis mattis sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Sed finibus tempus tortor quis ullamcorper. In neque nibh, suscipit vitae leo a, efficitur auctor felis.   </p>
              <a href="" class="btn btn-pink">Select this vendor</a>
              <a  href="#/productsDetails" class="btn view-more" target="_blank">View more</a>

        
          </div>
      </div>

  </div>
</div><!-- end of quick view -popup -->