<div class="pdp-page">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-sm-8 left-sec">
      <div class="box prod-img-cntr">
          <h1>Lorem ipsum dolor sit amet</h1>
          <div class="row">
              <div class="prod-img col-xs-12 col-md-10 col-sm-10">
                <img src="images/catering.jpg"/>
              </div>
              <div class="prod-img-thumbs col-xs-12 col-md-2 col-sm-2">
              <ul>
                 <li><img src="images/catering.jpg"/></li>
                 <li><img src="images/catering.jpg"/></li>
                 <li><img src="images/catering.jpg"/></li>
                 <li><img src="images/catering.jpg"/></li>
                 <li><img src="images/catering.jpg"/></li>
              </ul>  
            </div>
         </div>
       </div>
       <div class="box prod-desc">
        <h2>Description</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue feugiat nisl, id euismod tellus suscipit eu. Fusce aliquet ligula a vestibulum varius. In nec tempor purus, in accumsan quam. Sed nec nisl risus. Donec laoreet egestas lorem, egestas finibus velit ultrices vehicula. Aenean congue tristique risus. Quisque aliquam sapien massa, non molestie diam consectetur cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut lobortis tortor at risus fermentum finibus. Mauris nec dictum dui, nec dictum nibh. Curabitur pulvinar justo in sollicitudin vehicula. Vivamus fringilla rutrum odio, vitae rhoncus felis mattis sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Sed finibus tempus tortor quis ullamcorper. In neque nibh, suscipit vitae leo a, efficitur auctor felis.   </p>
      </div>

       <div class="box prod-features">
        
         <h2>features</h2> 
      </div>

      <div class="box prod-reviews">
        
        <h2>reviews</h2> 
      </div>

      <div class="box other-options">
        <h2>Other Options</h2> 
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4 right-sec">

      <div class="box prod-price">
          <h2>PRICE</h2>
      </div>

      <div class="box prod-availability">
       <h2>availablity</h2> 
      </div>


      <div class="box prod-details">
          <h2>Details</h2> 
      </div>

      


    </div>
  </div>
 </div> 