@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?67452405");
  src: url("../fonts/fontello.eot?67452405#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?67452405") format("woff2"), url("../fonts/fontello.woff?67452405") format("woff"), url("../fonts/fontello.ttf?67452405") format("truetype"), url("../fonts/fontello.svg?67452405#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?67452405#fontello') format('svg');
  }
}
*/
/* line 23, ../../sass/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 58, ../../sass/_icons.scss */
.icon-search:before {
  content: '\e800';
}

/* '?' */
/* line 59, ../../sass/_icons.scss */
.icon-user:before {
  content: '\e801';
}

/* '?' */
/* line 60, ../../sass/_icons.scss */
.icon-lock:before {
  content: '\e802';
}

/* '?' */
/* line 61, ../../sass/_icons.scss */
.icon-facebook:before {
  content: '\e803';
}

/* '?' */
/* line 62, ../../sass/_icons.scss */
.icon-google:before {
  content: '\e804';
}

/* '?' */
/* line 63, ../../sass/_icons.scss */
.icon-twitter:before {
  content: '\e805';
}

/* '?' */
/* line 64, ../../sass/_icons.scss */
.icon-key:before {
  content: '\e806';
}

/* '?' */
/* line 65, ../../sass/_icons.scss */
.icon-pencil:before {
  content: '\e807';
}

/* '?' */
/* line 66, ../../sass/_icons.scss */
.icon-edit:before {
  content: '\e808';
}

/* '?' */
/* line 67, ../../sass/_icons.scss */
.icon-login:before {
  content: '\e809';
}

/* '?' */
/* line 68, ../../sass/_icons.scss */
.icon-at:before {
  content: '\e80a';
}

/* '?' */
/* line 69, ../../sass/_icons.scss */
.icon-food:before {
  content: '\e80b';
}

/* '?' */
/* line 70, ../../sass/_icons.scss */
.icon-music:before {
  content: '\e80c';
}

/* '?' */
/* line 71, ../../sass/_icons.scss */
.icon-gift:before {
  content: '\e80d';
}

/* '?' */
/* line 72, ../../sass/_icons.scss */
.icon-camera:before {
  content: '\e80e';
}

/* '?' */
/* line 73, ../../sass/_icons.scss */
.icon-flight:before {
  content: '\e80f';
}

/* '?' */
/* line 74, ../../sass/_icons.scss */
.icon-fire-station:before {
  content: '\e810';
}

/* '?' */
/* line 75, ../../sass/_icons.scss */
.icon-commerical-building:before {
  content: '\e811';
}

/* '?' */
/* line 76, ../../sass/_icons.scss */
.icon-adult:before {
  content: '\e812';
}

/* '?' */
/* line 77, ../../sass/_icons.scss */
.icon-nature:before {
  content: '\e813';
}

/* '?' */
/* line 78, ../../sass/_icons.scss */
.icon-nature-2:before {
  content: '\e814';
}

/* '?' */
/* line 79, ../../sass/_icons.scss */
.icon-nature-3:before {
  content: '\e815';
}

/* '?' */
/* line 80, ../../sass/_icons.scss */
.icon-people:before {
  content: '\e816';
}

/* '?' */
/* line 81, ../../sass/_icons.scss */
.icon-transport:before {
  content: '\e817';
}

/* '?' */
/* line 82, ../../sass/_icons.scss */
.icon-women:before {
  content: '\e818';
}

/* '?' */
/* line 83, ../../sass/_icons.scss */
.icon-beauty:before {
  content: '\e819';
}

/* '?' */
/* line 84, ../../sass/_icons.scss */
.icon-computer:before {
  content: '\e81a';
}

/* '?' */
/* line 85, ../../sass/_icons.scss */
.icon-luxury:before {
  content: '\e81b';
}

/* '?' */
/* -- colors -- */
@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Regular.eot");
  src: url("../fonts/Aileron-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Aileron-Regular.woff2") format("woff2"), url("../fonts/Aileron-Regular.woff") format("woff"), url("../fonts/Aileron-Regular.ttf") format("truetype"), url("../fonts/Aileron-Regular.svg#Aileron-Regular") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans';
  src: url("../fonts/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.woff2") format("woff2"), url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url("../fonts/YanoneKaffeesatz-Light.eot");
  src: url("../fonts/YanoneKaffeesatz-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/YanoneKaffeesatz-Light.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Light.woff") format("woff"), url("../fonts/YanoneKaffeesatz-Light.ttf") format("truetype"), url("../fonts/YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* line 1, ../../sass/_commons.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../../sass/_commons.scss */
ul, li {
  list-style: none;
}

/* line 14, ../../sass/_commons.scss */
a {
  color: #040706;
  text-decoration: none;
}

/* line 18, ../../sass/_commons.scss */
a:hover {
  color: #eb2349;
  text-decoration: underline;
}

/* line 23, ../../sass/_commons.scss */
.text-left {
  text-align: left;
}

/* line 24, ../../sass/_commons.scss */
.text-right {
  text-align: right;
}

/* line 25, ../../sass/_commons.scss */
.text-center {
  text-align: center;
}

/* line 26, ../../sass/_commons.scss */
.text-justify {
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  /* line 30, ../../sass/_commons.scss */
  .text-xs-left {
    text-align: left;
  }

  /* line 31, ../../sass/_commons.scss */
  .text-xs-right {
    text-align: right;
  }

  /* line 32, ../../sass/_commons.scss */
  .text-xs-center {
    text-align: center;
  }

  /* line 33, ../../sass/_commons.scss */
  .text-xs-justify {
    text-align: justify;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 38, ../../sass/_commons.scss */
  .text-sm-left {
    text-align: left;
  }

  /* line 39, ../../sass/_commons.scss */
  .text-sm-right {
    text-align: right;
  }

  /* line 40, ../../sass/_commons.scss */
  .text-sm-center {
    text-align: center;
  }

  /* line 41, ../../sass/_commons.scss */
  .text-sm-justify {
    text-align: justify;
  }
}
@media only screen and (min-width: 992px) {
  /* line 45, ../../sass/_commons.scss */
  .text-md-left {
    text-align: left;
  }

  /* line 46, ../../sass/_commons.scss */
  .text-md-right {
    text-align: right;
  }

  /* line 47, ../../sass/_commons.scss */
  .text-md-center {
    text-align: center;
  }

  /* line 48, ../../sass/_commons.scss */
  .text-md-justify {
    text-align: justify;
  }
}
/* line 58, ../../sass/_commons.scss */
body, body.modal {
  padding-right: 0 !important;
}

/* line 62, ../../sass/_commons.scss */
body.modal {
  overflow-y: hidden !important;
}

/* line 66, ../../sass/_commons.scss */
.text-secondary-color {
  color: #eb2349;
}

/* line 1, ../../sass/_atoms.scss */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 9, ../../sass/_atoms.scss */
ul, li {
  list-style: none;
}

/* line 13, ../../sass/_atoms.scss */
a {
  color: #040706;
  text-decoration: none;
}
/* line 16, ../../sass/_atoms.scss */
a:hover {
  color: #eb2349;
  text-decoration: underline;
}

/*--------- generic classes -------------*/
/* line 24, ../../sass/_atoms.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../../sass/_atoms.scss */
.text-left {
  text-align: left;
}

/* line 26, ../../sass/_atoms.scss */
.text-right {
  text-align: right;
}

/*--------- Colors -------------*/
/* line 31, ../../sass/_atoms.scss */
.color1-bg {
  background: #c8f629;
}

/* line 34, ../../sass/_atoms.scss */
.color2-bg {
  background: #ebebeb;
}

/* line 37, ../../sass/_atoms.scss */
.color3-bg {
  background: #373636;
}

/* line 40, ../../sass/_atoms.scss */
.color4-bg {
  background: #1d1d1d;
}

/* line 43, ../../sass/_atoms.scss */
.color5-bg {
  background: #f7f7f7;
}

/* line 46, ../../sass/_atoms.scss */
.color6-bg {
  background: #fff;
}

/* line 50, ../../sass/_atoms.scss */
.color1 {
  color: #c8f629;
}

/* line 53, ../../sass/_atoms.scss */
.color2 {
  color: #ebebeb;
}

/* line 56, ../../sass/_atoms.scss */
.color3 {
  color: #373636;
}

/* line 59, ../../sass/_atoms.scss */
.color4 {
  color: #1d1d1d;
}

/* line 62, ../../sass/_atoms.scss */
.color5 {
  color: #f7f7f7;
}

/* line 66, ../../sass/_atoms.scss */
.color6 {
  color: #fff;
}

/*--------- component heading -------------*/
/* line 73, ../../sass/_atoms.scss */
.comp-heading {
  font-family: 'Aileron', sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: .025em;
  color: #373636;
  text-transform: uppercase;
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  /* line 73, ../../sass/_atoms.scss */
  .comp-heading {
    font-family: 'Aileron', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: .025em;
  }
}
/* line 83, ../../sass/_atoms.scss */
.comp-heading hr {
  margin: 10px 0 0 0;
  background: #c8f629;
  height: 10px;
  width: 90px;
}

/* line 91, ../../sass/_atoms.scss */
.popular-features-caption {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: .025em;
  color: #fff;
  text-shadow: 2px 2px 8px #000;
  font-weight: bold;
}

/* line 98, ../../sass/_atoms.scss */
.hero-banner-caption {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  font-size: 70px;
  letter-spacing: .025em;
  color: #fff;
  text-transform: uppercase;
}

/* line 105, ../../sass/_atoms.scss */
.comp-inernal-heading {
  font-family: 'Aileron', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .025em;
  color: #373636;
  text-transform: uppercase;
  font-weight: bold;
}

/*----------- buttons -------------*/
/* line 115, ../../sass/_atoms.scss */
.sec-botton {
  color: #373636;
  font-family: 'Aileron', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .025em;
  border: 1px solid #373636;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}
/* line 123, ../../sass/_atoms.scss */
.sec-botton:hover {
  text-decoration: none;
  color: #c8f629;
}

/* line 1, ../../sass/components/_topbanner.scss */
.top-banner {
  position: relative;
}
/* line 4, ../../sass/components/_topbanner.scss */
.top-banner img {
  width: 100%;
}

/* line 1, ../../sass/components/_search.scss */
.home-search-cntr {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../sass/components/_search.scss */
  .home-search-cntr {
    min-height: 215px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../../sass/components/_search.scss */
  .home-search-cntr .navbar-form .form-group {
    margin-top: 10px;
  }
}
/* line 17, ../../sass/components/_search.scss */
.home-search-cntr .search-cntr-inner {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 17, ../../sass/components/_search.scss */
  .home-search-cntr .search-cntr-inner {
    display: block;
    margin: 0;
    background: none;
  }
}
/* line 30, ../../sass/components/_search.scss */
.home-search-cntr .search-cntr-inner form {
  display: inline;
}
/* line 35, ../../sass/components/_search.scss */
.home-search-cntr .search-label {
  font-size: 17px;
  position: relative;
  top: 4px;
}
/* line 41, ../../sass/components/_search.scss */
.home-search-cntr .input-group {
  margin-left: 20px;
}
/* line 47, ../../sass/components/_search.scss */
.home-search-cntr .btn-default {
  background: #fff;
  font-zie: 15px;
}
/* line 52, ../../sass/components/_search.scss */
.home-search-cntr .search-btn-main {
  border: 1px solid #c8f629;
  color: #c8f629;
  border-radius: 5px !important;
  color: #c8f629;
  text-shadow: none;
  background: transparent;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  /* line 52, ../../sass/components/_search.scss */
  .home-search-cntr .search-btn-main {
    margin-top: 10px;
  }
}

/* line 1, ../../sass/components/_nav.scss */
.container nav {
  background: #fafafa;
}
/* line 3, ../../sass/components/_nav.scss */
.container nav .topnav {
  position: absolute;
  display: block;
  top: 0;
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: -1000px;
  background: #fafafa;
}
@media only screen and (min-width: 768px) {
  /* line 3, ../../sass/components/_nav.scss */
  .container nav .topnav {
    top: 0;
    position: relative;
    width: 100%;
    padding: 8px 0;
    left: 0px;
  }
}
/* line 21, ../../sass/components/_nav.scss */
.container nav .topnav li {
  border-bottom: 1px solid #ededed;
  width: 100%;
  text-align: left;
  padding: 5px 0;
}
@media only screen and (min-width: 768px) {
  /* line 21, ../../sass/components/_nav.scss */
  .container nav .topnav li {
    width: 15.3333333333%;
    border-bottom: none;
    text-align: center;
    position: relative;
    display: inline-block;
  }
}
/* line 35, ../../sass/components/_nav.scss */
.container nav .topnav li a {
  padding: 10px;
  color: #040706;
  text-decoration: none;
}
/* line 40, ../../sass/components/_nav.scss */
.container nav .topnav li a:hover {
  padding: 10px;
  color: #eb2349;
  text-decoration: none;
}
/* line 45, ../../sass/components/_nav.scss */
.container nav .topnav li ul.sub-category {
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 45, ../../sass/components/_nav.scss */
  .container nav .topnav li ul.sub-category {
    display: none;
    position: absolute;
    left: 0;
    background: #ededed;
    width: 300px;
    list-style-type: none;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  /* line 55, ../../sass/components/_nav.scss */
  .container nav .topnav li ul.sub-category li {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  /* line 70, ../../sass/components/_nav.scss */
  .container nav .topnav li:hover ul.sub-category {
    display: block;
  }
}
/* line 78, ../../sass/components/_nav.scss */
.container nav #menu-btn {
  width: 32px;
  height: 32px;
  position: relative;
  left: 0;
  top: -37px;
}
@media only screen and (min-width: 768px) {
  /* line 78, ../../sass/components/_nav.scss */
  .container nav #menu-btn {
    display: none;
  }
}

/* line 4, ../../sass/components/_header.scss */
.banner-search-cntr-main {
  position: relative;
}

/* line 8, ../../sass/components/_header.scss */
header {
  padding: 0 90px;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 8, ../../sass/components/_header.scss */
  header {
    padding: 0 14px;
  }
}

/* line 19, ../../sass/components/_header.scss */
.container header {
  margin-bottom: 20px;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 24, ../../sass/components/_header.scss */
  .logo {
    padding: 10px 0;
    max-width: 120px;
  }
}

/* line 31, ../../sass/components/_header.scss */
.cart {
  background: url("../images/cart-icon.png") no-repeat;
  width: 32px;
  height: 32px;
}
@media only screen and (max-width: 767px) {
  /* line 31, ../../sass/components/_header.scss */
  .cart {
    position: absolute;
    top: -75px;
    right: 10px;
  }
}

/* line 43, ../../sass/components/_header.scss */
.top-header-links {
  list-style: none;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  /* line 43, ../../sass/components/_header.scss */
  .top-header-links {
    display: none;
  }
}
/* line 50, ../../sass/components/_header.scss */
.top-header-links.row2 {
  margin-top: 10px;
  text-transform: uppercase;
}
/* line 55, ../../sass/components/_header.scss */
.top-header-links li {
  display: inline-block;
  margin-left: 40px;
}
/* line 59, ../../sass/components/_header.scss */
.top-header-links li a {
  color: #fff;
}

/* line 1, ../../sass/components/_footer.scss */
footer {
  background: #eb2349;
  display: block;
}
/* line 2, ../../sass/components/_footer.scss */
footer section {
  padding: 10px 0;
}
/* line 7, ../../sass/components/_footer.scss */
footer ul {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  /* line 7, ../../sass/components/_footer.scss */
  footer ul {
    margin: 0px auto;
    max-width: 600px;
    text-align: center;
  }
}
/* line 14, ../../sass/components/_footer.scss */
footer ul li {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  display: inline;
}
@media only screen and (min-width: 768px) {
  /* line 14, ../../sass/components/_footer.scss */
  footer ul li {
    border-right: 1px solid #fff;
  }
}
/* line 22, ../../sass/components/_footer.scss */
footer ul li a {
  color: #fff;
}
@media only screen and (min-width: 768px) {
  /* line 22, ../../sass/components/_footer.scss */
  footer ul li a {
    font-size: 13px;
    padding: 10px;
  }
}
/* line 29, ../../sass/components/_footer.scss */
footer ul li a:hover {
  color: #040706;
}
@media only screen and (min-width: 768px) {
  /* line 33, ../../sass/components/_footer.scss */
  footer ul li:last-child {
    border: none;
  }
}

/* line 1, ../../sass/components/_buttons.scss */
.btn-pink {
  background-color: #eb2349;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 auto;
}
/* line 7, ../../sass/components/_buttons.scss */
.btn-pink:hover {
  background: #f64264;
  color: #ffffff;
}

/* line 1, ../../sass/components/_nav.scss */
.container nav {
  background: #fafafa;
}
/* line 3, ../../sass/components/_nav.scss */
.container nav .topnav {
  position: absolute;
  display: block;
  top: 0;
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: -1000px;
  background: #fafafa;
}
@media only screen and (min-width: 768px) {
  /* line 3, ../../sass/components/_nav.scss */
  .container nav .topnav {
    top: 0;
    position: relative;
    width: 100%;
    padding: 8px 0;
    left: 0px;
  }
}
/* line 21, ../../sass/components/_nav.scss */
.container nav .topnav li {
  border-bottom: 1px solid #ededed;
  width: 100%;
  text-align: left;
  padding: 5px 0;
}
@media only screen and (min-width: 768px) {
  /* line 21, ../../sass/components/_nav.scss */
  .container nav .topnav li {
    width: 15.3333333333%;
    border-bottom: none;
    text-align: center;
    position: relative;
    display: inline-block;
  }
}
/* line 35, ../../sass/components/_nav.scss */
.container nav .topnav li a {
  padding: 10px;
  color: #040706;
  text-decoration: none;
}
/* line 40, ../../sass/components/_nav.scss */
.container nav .topnav li a:hover {
  padding: 10px;
  color: #eb2349;
  text-decoration: none;
}
/* line 45, ../../sass/components/_nav.scss */
.container nav .topnav li ul.sub-category {
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 45, ../../sass/components/_nav.scss */
  .container nav .topnav li ul.sub-category {
    display: none;
    position: absolute;
    left: 0;
    background: #ededed;
    width: 300px;
    list-style-type: none;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  /* line 55, ../../sass/components/_nav.scss */
  .container nav .topnav li ul.sub-category li {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  /* line 70, ../../sass/components/_nav.scss */
  .container nav .topnav li:hover ul.sub-category {
    display: block;
  }
}
/* line 78, ../../sass/components/_nav.scss */
.container nav #menu-btn {
  width: 32px;
  height: 32px;
  position: relative;
  left: 0;
  top: -37px;
}
@media only screen and (min-width: 768px) {
  /* line 78, ../../sass/components/_nav.scss */
  .container nav #menu-btn {
    display: none;
  }
}

/* line 1, ../../sass/components/_search.scss */
.home-search-cntr {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../sass/components/_search.scss */
  .home-search-cntr {
    min-height: 215px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 12, ../../sass/components/_search.scss */
  .home-search-cntr .navbar-form .form-group {
    margin-top: 10px;
  }
}
/* line 17, ../../sass/components/_search.scss */
.home-search-cntr .search-cntr-inner {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 17, ../../sass/components/_search.scss */
  .home-search-cntr .search-cntr-inner {
    display: block;
    margin: 0;
    background: none;
  }
}
/* line 30, ../../sass/components/_search.scss */
.home-search-cntr .search-cntr-inner form {
  display: inline;
}
/* line 35, ../../sass/components/_search.scss */
.home-search-cntr .search-label {
  font-size: 17px;
  position: relative;
  top: 4px;
}
/* line 41, ../../sass/components/_search.scss */
.home-search-cntr .input-group {
  margin-left: 20px;
}
/* line 47, ../../sass/components/_search.scss */
.home-search-cntr .btn-default {
  background: #fff;
  font-zie: 15px;
}
/* line 52, ../../sass/components/_search.scss */
.home-search-cntr .search-btn-main {
  border: 1px solid #c8f629;
  color: #c8f629;
  border-radius: 5px !important;
  color: #c8f629;
  text-shadow: none;
  background: transparent;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  /* line 52, ../../sass/components/_search.scss */
  .home-search-cntr .search-btn-main {
    margin-top: 10px;
  }
}

/* line 1, ../../sass/components/_loginmodal.scss */
.modal-dialog-login {
  width: 400px;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../sass/components/_loginmodal.scss */
  .modal-dialog-login {
    width: auto;
  }
}
/* line 6, ../../sass/components/_loginmodal.scss */
.modal-dialog-login .input-group {
  margin-bottom: 10px;
}
/* line 10, ../../sass/components/_loginmodal.scss */
.modal-dialog-login .input-group-addon {
  position: relative;
  top: 0;
}
/* line 15, ../../sass/components/_loginmodal.scss */
.modal-dialog-login .modal-header {
  border-bottom: 0;
  padding: 15px 15px 0 0;
}

/* line 22, ../../sass/components/_loginmodal.scss */
.login-txt-center {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* line 27, ../../sass/components/_loginmodal.scss */
.login-form {
  margin: 0 auto 0;
  max-width: 380px;
}

/* line 32, ../../sass/components/_loginmodal.scss */
.form-header, .form-footer {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 36, ../../sass/components/_loginmodal.scss */
.form-signin {
  padding: 20px 35px 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px;
  border-top: 0px;
}

/* line 44, ../../sass/components/_loginmodal.scss */
.form-header {
  text-align: center;
  padding: 8px 40px;
  border-radius: 10px 10px 0 0;
}

/* line 50, ../../sass/components/_loginmodal.scss */
.form-header i {
  font-size: 60px;
}

/* line 52, ../../sass/components/_loginmodal.scss */
.form-footer {
  padding: 5px 15px;
}
/* line 54, ../../sass/components/_loginmodal.scss */
.form-footer a {
  color: #23527c;
}

/* line 60, ../../sass/components/_loginmodal.scss */
.bt-login {
  background-color: #eb2349;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 66, ../../sass/components/_loginmodal.scss */
.bt-login:hover {
  background: #f64264;
  color: #ffffff;
}

/* line 74, ../../sass/components/_loginmodal.scss */
.form-signin .form-control, .form-register .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 14px;
}

/* line 81, ../../sass/components/_loginmodal.scss */
.form-signin .form-control:focus, .form-register .form-control:focus {
  z-index: 2;
}

/* line 90, ../../sass/components/_loginmodal.scss */
.has-error {
  color: #ff0000 !important;
}

/* line 91, ../../sass/components/_loginmodal.scss */
.has-success {
  color: #78b310 !important;
}

/* line 92, ../../sass/components/_loginmodal.scss */
.has-error input {
  border: 1px solid red !important;
}

/* line 93, ../../sass/components/_loginmodal.scss */
.has-success input {
  border: 1px solid #78b310 !important;
}

/* line 95, ../../sass/components/_loginmodal.scss */
.message_success {
  background-color: #78b310;
  color: #fff;
  padding: 5px;
}

/* line 96, ../../sass/components/_loginmodal.scss */
.message_error {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px;
}

/* line 101, ../../sass/components/_loginmodal.scss */
.google, .twitter, .facebook {
  padding: 10px 23%;
  margin-bottom: 10px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 101, ../../sass/components/_loginmodal.scss */
  .google, .twitter, .facebook {
    padding: 10px 14%;
  }
}

/* line 111, ../../sass/components/_loginmodal.scss */
.google {
  background-color: #dd4b39;
  color: #fff;
}
/* line 114, ../../sass/components/_loginmodal.scss */
.google:hover {
  background: #fa7160;
  color: #ffffff;
}

/* line 121, ../../sass/components/_loginmodal.scss */
.facebook {
  background-color: #3b5999;
  color: #fff;
}
/* line 124, ../../sass/components/_loginmodal.scss */
.facebook:hover {
  background: #6482c2;
  color: #ffffff;
}

/* line 130, ../../sass/components/_loginmodal.scss */
.modal-icons {
  margin-left: -5px;
  margin-right: 20px;
}

/* line 139, ../../sass/components/_loginmodal.scss */
.signup-form input {
  margin-bottom: 10px;
}
/* line 143, ../../sass/components/_loginmodal.scss */
.signup-form .form-footer {
  border-top: 0;
}

/* line 149, ../../sass/components/_loginmodal.scss */
.forgot-password-form input {
  margin-bottom: 10px;
}
/* line 153, ../../sass/components/_loginmodal.scss */
.forgot-password-form .form-footer {
  border-top: 0;
}

/* line 1, ../../sass/components/_verticalsmodal.scss */
.verticals-popup {
  width: 100%;
}
/* line 4, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .modal-dialog-verticals-popup {
  width: 75%;
}
@media only screen and (max-width: 767px) {
  /* line 4, ../../sass/components/_verticalsmodal.scss */
  .verticals-popup .modal-dialog-verticals-popup {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../../sass/components/_verticalsmodal.scss */
  .verticals-popup .modal-dialog-verticals-popup {
    width: 100%;
  }
}
/* line 14, ../../sass/components/_verticalsmodal.scss */
.verticals-popup h2 {
  font-size: 20px;
  color: #000;
}
/* line 19, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .btn-continue {
  background-color: #eb2349;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 30%;
  margin: 0 auto;
}
/* line 26, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .btn-continue:hover {
  background: #f64264;
  color: #ffffff;
}
/* line 32, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .main-checkboxes-cntr {
  font-size: 0;
}
/* line 37, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .chkbox-label-cntr {
  display: inline-block;
  width: 20%;
  padding: 10px 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 37, ../../sass/components/_verticalsmodal.scss */
  .verticals-popup .chkbox-label-cntr {
    width: 33.33%;
  }
}
/* line 47, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .chkbox-label-cntr label {
  font-size: 14px;
  cursor: pointer;
  color: #999;
}
/* line 54, ../../sass/components/_verticalsmodal.scss */
.verticals-popup [class^="icon-"]::before, .verticals-popup [class*=" icon-"]::before {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #777;
  text-align: center;
  background: #ccc;
}
/* line 68, ../../sass/components/_verticalsmodal.scss */
.verticals-popup [class^="icon-"].selected::before, .verticals-popup [class*=" icon-"].selected::before {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #eb2349;
}
/* line 82, ../../sass/components/_verticalsmodal.scss */
.verticals-popup input[type="checkbox"] {
  display: none;
}
/* line 86, ../../sass/components/_verticalsmodal.scss */
.verticals-popup .form-footer {
  padding: 15px;
}

/* line 1, ../../sass/components/_servicesoptionsmodal.scss */
.modal-services-options,
.modal-product-options {
  width: 75%;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../sass/components/_servicesoptionsmodal.scss */
  .modal-services-options,
  .modal-product-options {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../sass/components/_servicesoptionsmodal.scss */
  .modal-services-options,
  .modal-product-options {
    width: 100%;
  }
}
/* line 11, ../../sass/components/_servicesoptionsmodal.scss */
.modal-services-options .btn-continue,
.modal-product-options .btn-continue {
  background-color: #eb2349;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 30%;
  margin: 0 auto;
}
/* line 18, ../../sass/components/_servicesoptionsmodal.scss */
.modal-services-options .btn-continue:hover,
.modal-product-options .btn-continue:hover {
  background: #f64264;
  color: #ffffff;
}
/* line 24, ../../sass/components/_servicesoptionsmodal.scss */
.modal-services-options h3,
.modal-product-options h3 {
  font-size: 18px;
  color: #000;
}

/* line 1, ../../sass/components/_filters.scss */
.filters {
  font-size: 0;
  list-style: none;
  background: #eee;
  padding: 20px;
}
/* line 7, ../../sass/components/_filters.scss */
.filters .filter {
  font-size: 12px;
  width: 25%;
  border-right: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0 30px;
}
/* line 16, ../../sass/components/_filters.scss */
.filters .filter:last-child {
  border-right: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 19, ../../sass/components/_filters.scss */
  .filters .filter:nth-child(even) {
    border-right: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../sass/components/_filters.scss */
  .filters .filter {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 7, ../../sass/components/_filters.scss */
  .filters .filter {
    width: 100%;
    border-right: none;
  }
}
/* line 32, ../../sass/components/_filters.scss */
.filters .filter h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
/* line 39, ../../sass/components/_filters.scss */
.filters .filter ul li {
  list-style: none;
}
/* line 43, ../../sass/components/_filters.scss */
.filters .filter label {
  font-weight: normal;
  position: relative;
  top: -2px;
  left: 5px;
}

/* line 2, ../../sass/components/_packages.scss */
.popular-features ul {
  font-size: 0;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 2, ../../sass/components/_packages.scss */
  .popular-features ul {
    margin-bottom: 20px;
  }
}
/* line 9, ../../sass/components/_packages.scss */
.popular-features ul li {
  display: inline-block;
  width: 33.3%;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 9, ../../sass/components/_packages.scss */
  .popular-features ul li {
    width: 49.9%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 9, ../../sass/components/_packages.scss */
  .popular-features ul li {
    width: 100%;
  }
}
/* line 24, ../../sass/components/_packages.scss */
.popular-features ul li img {
  width: 100%;
  padding: 0 20px 20px 0;
  position: relative;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
/* line 35, ../../sass/components/_packages.scss */
.popular-features ul li:hover img {
  -webkit-filter: none;
  filter: none;
}
/* line 40, ../../sass/components/_packages.scss */
.popular-features ul li h4 {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 40%;
}

/* line 1, ../../sass/components/_vendors.scss */
.vendors-cntr {
  background: #ebebeb;
}
/* line 4, ../../sass/components/_vendors.scss */
.vendors-cntr .vendors-inner {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 4, ../../sass/components/_vendors.scss */
  .vendors-cntr .vendors-inner {
    margin-bottom: 20px;
  }
}
/* line 11, ../../sass/components/_vendors.scss */
.vendors-cntr .vendor {
  margin-bottom: 30px;
}
/* line 15, ../../sass/components/_vendors.scss */
.vendors-cntr .img-text-cntr {
  cursor: pointer;
}
/* line 17, ../../sass/components/_vendors.scss */
.vendors-cntr .img-text-cntr img {
  width: 100%;
  max-height: 350px;
}
/* line 21, ../../sass/components/_vendors.scss */
.vendors-cntr .img-text-cntr .description {
  background: #fff;
  padding: 15px;
  text-align: left;
}
/* line 26, ../../sass/components/_vendors.scss */
.vendors-cntr .img-text-cntr .description p {
  font-size: 13px;
  color: #878686;
}

/* line 4, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .topselling-cntr-inner {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 4, ../../sass/components/_topsellingprod.scss */
  .topselling-cntr .topselling-cntr-inner {
    margin-bottom: 20px;
  }
}
/* line 11, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .topsellingprod {
  margin-bottom: 30px;
}
/* line 15, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr {
  cursor: pointer;
}
/* line 17, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr img {
  width: 100%;
  max-height: 350px;
}
/* line 21, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr .description {
  background: #fff;
  padding: 15px;
  text-align: left;
  border: 1px solid #7f7f7f;
}
/* line 28, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr .description p {
  font-size: 13px;
  color: #878686;
}
/* line 33, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr .description .old-price {
  text-decoration: line-through;
}
/* line 37, ../../sass/components/_topsellingprod.scss */
.topselling-cntr .img-text-cntr .description .new-price {
  color: #373636;
  font-weight: bold;
  margin-left: 20px;
}

/* line 1, ../../sass/components/_howitworks.scss */
.howitworks-cntr {
  background: #ebebeb;
}
/* line 3, ../../sass/components/_howitworks.scss */
.howitworks-cntr .howitworks-inner {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 3, ../../sass/components/_howitworks.scss */
  .howitworks-cntr .howitworks-inner {
    margin-bottom: 20px;
  }
}
/* line 11, ../../sass/components/_howitworks.scss */
.howitworks-cntr .howitworks {
  margin-bottom: 30px;
}
/* line 15, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-cntr {
  max-width: 200px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 15, ../../sass/components/_howitworks.scss */
  .howitworks-cntr .img-cntr {
    max-width: 100px;
  }
}
/* line 24, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-text-cntr {
  cursor: pointer;
  position: relative;
}
/* line 27, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-text-cntr img {
  width: 100%;
  position: relative;
  z-index: 2;
}
/* line 33, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-text-cntr .dashed-border {
  background: url("../images/dash-border-bg.png") center repeat-x;
  position: absolute;
  width: 100%;
  top: 30.4%;
  left: 34%;
  z-index: 1;
  height: 1px;
}
@media only screen and (max-width: 767px) {
  /* line 33, ../../sass/components/_howitworks.scss */
  .howitworks-cntr .img-text-cntr .dashed-border {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 33, ../../sass/components/_howitworks.scss */
  .howitworks-cntr .img-text-cntr .dashed-border {
    display: none;
  }
}
/* line 52, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-text-cntr .description {
  padding: 15px;
}
/* line 56, ../../sass/components/_howitworks.scss */
.howitworks-cntr .img-text-cntr .description p {
  font-size: 13px;
  color: #878686;
  padding: 0 80px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 56, ../../sass/components/_howitworks.scss */
  .howitworks-cntr .img-text-cntr .description p {
    padding: 0;
  }
}

/* line 1, ../../sass/components/_testimonials.scss */
.testimonials-cntr {
  background: #1d1d1d;
  padding: 60px 0;
}
/* line 6, ../../sass/components/_testimonials.scss */
.testimonials-cntr .comp-heading {
  color: #fff;
}
/* line 11, ../../sass/components/_testimonials.scss */
.testimonials-cntr .testimonials-cntr-inner {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 19, ../../sass/components/_testimonials.scss */
.testimonials-cntr .testimonial {
  margin-bottom: 30px;
}
/* line 24, ../../sass/components/_testimonials.scss */
.testimonials-cntr .slider {
  width: 100%;
  margin: 0 auto;
}
/* line 29, ../../sass/components/_testimonials.scss */
.testimonials-cntr .slick-slide {
  margin: 0px 20px;
}
/* line 33, ../../sass/components/_testimonials.scss */
.testimonials-cntr .slick-slide img {
  min-width: 200px;
  width: 100%;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
/* line 42, ../../sass/components/_testimonials.scss */
.testimonials-cntr .slick-prev:before,
.testimonials-cntr .slick-next:before {
  color: black;
}
/* line 48, ../../sass/components/_testimonials.scss */
.testimonials-cntr .slick-current img {
  -webkit-filter: grayscale(0%);
  /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}

/* line 4, ../../sass/components/_quickview.scss */
.quickViewPopup .product-img-cntr img {
  width: 100%;
}
/* line 9, ../../sass/components/_quickview.scss */
.quickViewPopup .product-desc-cntr {
  padding: 0 15px 15px 15px;
  color: #3d3c3c;
}
/* line 13, ../../sass/components/_quickview.scss */
.quickViewPopup .product-desc-cntr h3 {
  margin-top: 0;
}
/* line 17, ../../sass/components/_quickview.scss */
.quickViewPopup .product-desc-cntr p {
  font-size: 12px;
}

/* line 2, ../../sass/pages/_home.scss */
.services-cntr .img-text-cntr img {
  max-height: 250px;
}

/* line 7, ../../sass/pages/_home.scss */
.section-box {
  padding: 60px 90px 60px 90px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 7, ../../sass/pages/_home.scss */
  .section-box {
    padding: 30px 14px 30px 14px;
  }
}
/* line 15, ../../sass/pages/_home.scss */
.section-box h3 {
  margin-bottom: 50px;
}

/* line 1, ../../sass/pages/_products.scss */
.modal-services-options {
  margin: 15px;
}

/* line 6, ../../sass/pages/_products.scss */
#productsServicesCntr {
  font-size: 0;
  border-top: 1px solid #999;
}
/* line 10, ../../sass/pages/_products.scss */
#productsServicesCntr .box {
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../../sass/pages/_products.scss */
#productsServicesCntr .product-left-section {
  width: 80%;
}
/* line 19, ../../sass/pages/_products.scss */
#productsServicesCntr .product-right-section {
  width: 20%;
}
/* line 23, ../../sass/pages/_products.scss */
#productsServicesCntr h2.prod-page-header {
  background: #ebebeb;
  padding: 15px;
  color: #222;
  font-size: 18px;
  margin: 0;
}
/* line 31, ../../sass/pages/_products.scss */
#productsServicesCntr h2.left-sec {
  border-right: 0;
}
/* line 35, ../../sass/pages/_products.scss */
#productsServicesCntr .left-sec-content-cntr {
  min-height: 900px;
  padding: 15px;
  font-size: 14px;
}
/* line 41, ../../sass/pages/_products.scss */
#productsServicesCntr .right-sec-content-cntr {
  padding: 15px;
  font-size: 14px;
  border-left: 1px solid #999;
  min-height: 1000px;
}
/* line 48, ../../sass/pages/_products.scss */
#productsServicesCntr h3.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
/* line 63, ../../sass/pages/_products.scss */
#productsServicesCntr h3.accordion.active {
  background: #eb2349;
  color: #fff;
}
/* line 68, ../../sass/pages/_products.scss */
#productsServicesCntr h3.accordion:hover {
  background: #999;
}
/* line 72, ../../sass/pages/_products.scss */
#productsServicesCntr div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  margin: 0;
}
/* line 82, ../../sass/pages/_products.scss */
#productsServicesCntr div.panel.show {
  opacity: 1;
  max-height: 500px;
}
/* line 87, ../../sass/pages/_products.scss */
#productsServicesCntr h3.accordion:after {
  content: '\02795';
  font-size: 9px;
  color: #777;
  float: right;
  margin-left: 5px;
}
/* line 95, ../../sass/pages/_products.scss */
#productsServicesCntr h3.accordion.active:after {
  content: "\2796";
  color: #fff;
}

/* line 107, ../../sass/pages/_products.scss */
.filters-and-sort-cntr .showFilterBtnCntr, .filters-and-sort-cntr .paginationCntr {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

/* line 117, ../../sass/pages/_products.scss */
.showFilterBtnCntr {
  padding-bottom: 20px;
}
/* line 121, ../../sass/pages/_products.scss */
.showFilterBtnCntr .showFilterBtn {
  background: #ebebeb none repeat scroll 0 0;
  border: 1px solid #999;
  color: #222;
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: normal;
}

/* line 134, ../../sass/pages/_products.scss */
.paginationCntr {
  text-align: right;
}
/* line 137, ../../sass/pages/_products.scss */
.paginationCntr .pagination {
  margin-left: 20px;
}

/* line 3, ../../sass/pages/_productDetails.scss */
.pdp-page img {
  width: 100%;
}
/* line 7, ../../sass/pages/_productDetails.scss */
.pdp-page .left-sec {
  padding-right: 15px;
}
/* line 11, ../../sass/pages/_productDetails.scss */
.pdp-page .box {
  background: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
}
/* line 19, ../../sass/pages/_productDetails.scss */
.pdp-page .prod-img {
  padding-left: 0;
}
/* line 24, ../../sass/pages/_productDetails.scss */
.pdp-page .prod-img-thumbs img {
  width: 100%;
  border: 2px solid #fff;
}
@media only screen and (max-width: 767px) {
  /* line 32, ../../sass/pages/_productDetails.scss */
  .pdp-page .prod-img-thumbs ul {
    font-size: 0;
    margin-top: 15px;
  }
}
/* line 38, ../../sass/pages/_productDetails.scss */
.pdp-page .prod-img-thumbs ul li {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  width: 70%;
}
@media only screen and (max-width: 767px) {
  /* line 38, ../../sass/pages/_productDetails.scss */
  .pdp-page .prod-img-thumbs ul li {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
    border: 0;
  }
}
/* line 55, ../../sass/pages/_productDetails.scss */
.pdp-page h1 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 61, ../../sass/pages/_productDetails.scss */
.pdp-page h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1, ../../sass/_structure.scss */
body {
  font-family: 'Aileron', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .025em;
  color: #040706;
  background: #fff;
  padding: 0;
  margin: 0;
}
/* line 7, ../../sass/_structure.scss */
body .right {
  float: right;
}

/* line 12, ../../sass/_structure.scss */
header, footer, section, article, nav {
  margin: 0;
}

/* line 16, ../../sass/_structure.scss */
.container {
  width: 100%;
  padding: 0;
}

/* line 21, ../../sass/_structure.scss */
.btn {
  transition: all 0.3s ease 0s;
}
